<h1><%= @pet_home.name %></h1>
  <p><%= @pet_home.pet_type %></p>
  <p><%= @pet_home.location %></p>
  <p><%= @pet_home.description %></p>
  <p><%= @pet_home.responsibilities %></p>
  <p><%= @pet_home.start_date %></p>
  <p> <%= @pet_home.end_date %></p>
  <p><%= @pet_home.capacity %></p>
  <p><%= @pet_home.emergency_info %></p>
