<h1><%= @pet_home.name %></h1>
<<<<<<< HEAD
  <p><%= @pet_home.pet_type %></p>
  <p><%= @pet_home.location %></p>
  <p><%= @pet_home.description %></p>
  <p><%= @pet_home.responsibilities %></p>
  <p><%= @pet_home.start_date %></p>
  <p> <%= @pet_home.end_date %></p>
  <p><%= @pet_home.capacity %></p>
  <p><%= @pet_home.emergency_info %></p>
=======
<div>
  <%= render "form", pet_home: @pet_home, booking: @booking %>
</div>
>>>>>>> 4ed100363509fb35de9395d68f95f4bf9edd4e50
