
<div class="container">

  <%# MOBILE IMAGE SLIDER %>
    <div class="">

    </div>

  <%# MOBILE TITLE BAR %>


  <%# MULTI IMAGE BLOCK %>

      <div class="flex-container mt-2" id="multi-image-block">
        <%# INSERT IMAGE #2 %>
        <div class="mg-1">
          <div><h3><%= @pet_home.name %></h3></div>
          <div class="stars">⭐️ 4.7 | 17 reviews | <%= @pet_home.location %></div>
        </div>
        <div class="container" class=>
          <div id="banner">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "cat2.jpg", class: "d-block w-100 ", style:'height: 520px; object-fit: cover;' %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dog1.jpg", class: "d-block w-100 ", style:'height: 520px; object-fit: cover;' %>
            </div>
            <div class="carousel-item">
              <%= image_tag "cat1.jpg", class: "d-block w-100 ", style:'height: 520px; object-fit: cover;' %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dog2.jpg", class: "d-block w-100 ", style:'height: 520px; object-fit: cover;' %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          </div>
        </div>
      </div>


  <%# DESCRIPTION BLOCK %>
    <div class="row mt-5">
      <div class="col-md-8">
        <%# EDIT AND DELETE pet_home %>


        <div><h4 class="stars2">This Pet home hosted by <strong>Robert</strong></h4></div>
        <%# 3 BEST FEATURES %>
        <%# BUNKER COVER %>
        <div class="mg-1">
          <h2 class="stars2"><strong>PETHOME<span style="color: #68B984">INSURANCE</span></strong></h2>
        </div>
        <div  class="border-bottom mb-4"><p class="stars2">Every booking includes free protection from Host cancellations, listing inaccuracies, and other issues like trouble checking in.</p></div>

        <%# ABOUT THIS SPACE %>
        <div class="mg-1"><h4 class="stars2">About this space</h4></div>
        <div><p class="stars2"> <%= @pet_home.description %></p></div>

      </div>

      <div class="col-md-4">
        <div id="booking-component" class="card-category shadow-lg">
          <%# INSERT BOOKING COMPONENT HERE %>
          <h4 class="text-center">Book this Pet Home</h4>
          <%= simple_form_for [@pet_home, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.input :number_of_guest %>
            <%= f.button :submit, class: "create-button" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>

</div>

